.settings/
.vscode/

_old/
build/
docs/
lib/
out/
private/

scripts
src
test

.babelrc
.eslintignore
.eslintrc*

.editorconfig
.gitattributes
.travis.yml

gulpfile.*
jsdoc-conf.*

jenkins.sh
tslint.json

TODO.*
